.customer-layout .header {
  height: 88px;
  background-color: #001f3fe1;
  color: #fff;
  font-size: medium;
  display: flex;
  position: relative;
  align-items: center;
}

.customer-layout .header .middle-box .menu {
  position: absolute;
  left: 300px;
  top: 0;
  height: 100%;
  display: flex;
  width: 800px;
  /* background-color: aqua; */
}

.customer-layout .header .middle-box .menu-item {
  padding: 0 32px;
  cursor: pointer;
  height: 100%;
  line-height: 88px;
  font-size: 18px;
  overflow: hidden;
}

.br3 {
  border-radius: 3px;
}

.customer-layout .header .middle-box .menu-item:hover {
  background-color: rgb(78, 78, 77);
}

.customer-layout .header .end-box {
  display: flex;
  gap: 80px;
  position: absolute;
  right: 0;
  padding: 0 8px;
}

.customer-layout .header .end-box .account {
  display: flex;
  gap: 8px;
  padding-right: 16px;
}

.customer-layout .header .end-box .account .remaining {
  width: 110px;
  max-width: 110px;
  text-align: left;
  padding-left: 16px;
  border-left: 2px solid rgb(221, 221, 221);
}

.customer-layout .header .end-box .account .remaining .label {
  padding-bottom: 5px
}

.customer-layout .header .end-box .account .remaining .quantity {
  position: relative;
}

.customer-layout .header .end-box .account .remaining .box-quantity .plus {
  position: absolute;
  top: -10px;
  right: -8px;
}

.customer-layout .content-page {
  min-height: 500px;
}

.customer-layout .child-content {
  border-style: solid;
  border-left-width: 150px;
  border-right-width: 150px;
}

@media (max-width: 768px) {
  .customer-layout .child-content {
    border-style: solid;
    border-left-width: 16px;
    border-right-width: 16px;
  }
}

.customer-layout .footer {
  min-height: 100px;
  background-color: #001f3fe1;
  color: #fff;
  font-size: medium;
  display: flex;
}

.customer-layout .account .ant-space-item svg {
  color: #fff;
}

.customer-layout .icon-menu {
  font-size: 24px;
  text-align: right;
  padding: 8px 8px;
  padding-bottom: 0;
  animation: collapsed-true 0.4s linear;
}

.customer-layout .icon-menu.collapsed-true {
  text-align: center;
}

.menu-desktop {
  display: block;
}

.menu-mobile {
  display: none;
}

.page-name {
  padding: 16px 0
}

/* tablet  */
@media (min-width: 768px) and (max-width: 1023px) {}

@media (max-width: 1350px) {
  .customer-layout .header .middle-box .menu {
    left: 150px;
  }

  .customer-layout .header .middle-box .menu .menu-item {
    width: 150px;
  }
}

@media (max-width: 1200px) {
  .customer-layout .header .middle-box .menu {
    left: 150px;
  }

  .customer-layout .header .middle-box .menu-item {
    left: 150px;
    padding: 0 0px;
  }
}

@media (max-width: 1023px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }
}

/* mobile */
@media (min-width: 768px) {
  .button {
    font-size: 18px;
    padding: 14px 28px;
  }
}