.card-detail {
  display: flex;
  flex-wrap: wrap;
}

.card-detail .detail {
  min-width: 400px;
  width: 50%;
}

.card-detail .history {
  border-left: 1px solid #B9B7B7  ;
  min-height: 100vh;
  flex: 1;
}

.card-detail .action {
  margin-top: 16px;
}

.card-detail .container-action {
  gap: 8px;
}