.payment-success {
  text-align: center;
}

.payment-success img {
  width: 150px;
}

.scale-effect {
  display: inline-block;
  animation: scaleInOut 1s ease-out forwards;
}

@keyframes scaleInOut {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}